.container{
    width: 1540px;
    height: 700px;
   overflow: hidden;
  
}
.container .page_container
{
    width: 6180px;
    height: 700px;
    display: flex;
    transition: 500ms;
}



.Accueil{
    width: 1540px;
    height: 700px;
    position: relative;
    top :0;
    background-image: url(image/fred.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}
header
{
    width: 1540px;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    
}

header nav
{
    width: 1100px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .titre
{
    text-decoration: none;
    margin-left: 20px;
}
 header nav .titre h1
{
    color: black;
    font-size: 22px;
    font-family: 'monoton';
    text-transform: uppercase;
    text-shadow: 0px 3px 4px rgb(199, 198, 198);
}

header nav .liens
{
  list-style-type: none;
  height: 80px;
  display: flex;
  justify-content: flex-end;
}

header nav .liens li
{
  height: 80px;
  

}
header nav .liens li:hover
{
 
  background-color:#d4f209 ;

}

header nav .liens li a
{
  text-decoration: none;
  color: rgb(12, 12, 12);
  position: relative;
  top: 28px;
  margin: 35px;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: bold;
}




.bouton
{
    width: 1400px;
    height: 30px;
    margin: auto;
    position: relative;
    top: -65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bouton a .right
{
  margin-left: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 3px white solid;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 25px;
  color: rgb(0, 0, 0);
  box-shadow: -3px 5px 7px rgba(0, 0, 0, 0.5);
}

.bouton a .left
{
  margin-right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 3px white solid;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 25px;
  color: rgb(0, 0, 0);
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
}
.bouton a .left:hover
{
    background-color: rgba(145, 143, 143, 0.5);
 
}
.bouton a .right:hover
{
    background-color: rgba(145, 143, 143, 0.5);
 
}



